ul.lister-sb-menu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 99999;
}

/*.lister-selection .form-button, .lister-selection .form-submit {
  margin: 0;
}
*/
/*.ui-button {
  margin: 0;
}
*/
.lister-selection .ui-widget {
  font-size: 1em;
}

ul.lister-sb-menu-large {
/*  max-height: 300px;*/
/*  overflow-y: scroll;
  overflow-x: hidden;
*/}

ul.lister-sb-menu li.lister-sb-menu-item {
  display: block;
  padding: 0;
/*  height: 2em;*/
}

ul.lister-sb-menu li.lister-sb-menu-submenu {
  display: block;
  padding: 0;
}

ul.lister-sb-menu li.lister-sb-menu-item ul {
  padding: 0;
  margin: 0;
}

ul.lister-sb-menu li.lister-sb-menu-item input, ul.lister-sb-menu li.lister-sb-menu-item button {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
/*  height: 2em;*/
}

/*ul.lister-sb-menu li.lister-sb-menu-item input {
  display: block;
  padding: 5px 5px;
  white-space: nowrap;
}

ul.lister-sb-menu li.lister-sb-menu-item ul li input {
  padding: 2px 5px;
}
*/
.lister-sb-menu-item-label {
  padding: 5px 5px;
  font-weight: bold;
}

ul.lister-sb-menu li a:hover {
  background-color: white;
}

.lister-sb-menu-sep {
  font-size: 2px;
  line-height: 2px;
  margin: 3px 0;
  border-bottom: 2px groove white;
}

ul.lister-sb-menu li.lister-sb-menu-item-detail {
  padding-right: 38px;
}

ul.lister-sb-menu li.lister-sb-menu-item input.lister-sb-detail, ul.lister-sb-menu li.lister-sb-menu-item button.lister-sb-detail {
  width: 39px;
  margin-right: -40px;
  display: inline;
}

ul.lister-sb-menu li.lister-sb-menu-item button.lister-sb-predetail {
  margin-right: -5px;
  display: inline;
}

.lister-selection .ui-buttonset .ui-button {
  margin-right: -0.4em;
}

.ui-dialog-content input.form-text {
  width: 100%;
}